<%- include('../partials/header') %>

<section class="welcome">
    <h2><%= message %></h2>
    <p>这是一个使用Express和EJS搭建的简单网站。</p>
    <button id="testApi">测试API</button>
    <div id="apiResult"></div>
</section>

<%- include('../partials/footer') %>